<%# Copyright 2011-2013 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<%# top_nav_about_active            %>
<%# top_nav_dashboard_active        %>
<%# top_nav_course_catalog_active   %>
<%# top_nav_current_classes_active  %>
<%# top_nav_my_tutor_active         %>
<%# top_nav_help_active             %>

<%# add_local_error_alert    now: true, content: "This is local error." %>
<%# add_local_success_alert  now: true, content: "This is local success." %>
<%# add_local_info_alert     now: true, content: "This is local information." %>

<%# add_global_error_alert   now: true, content: "This is global error." %>
<%# add_global_success_alert now: true, content: "This is global success." %>
<%# add_global_info_alert    now: true, content: "This is global information." %>

<% content_for :application_body do %>
  <div data-test-page-home></div>
<% end %>
