@import "common";

@mixin section-block-base($heading_font_size) {
  margin: 28px 0px 18px 0px;

  .section-block-heading {
    margin:         3px 0px;
    padding-bottom: $heading_font_size/2;

    color:     $os_dark_gray;
    font-size: $heading_font_size;

    a { 
      font-size: $heading_font_size; 
    }
  }

  .section-block-body {
    margin: 0px 0px 0px 15px;
  }
}

.section-block-section {
  @include section-block-base(16px);
}

.section-block-section.bar-top {
  padding-top: 15px;
  border-top:  1px solid #898989;
}

.section-block-section.nesting-2 {
  @include section-block-base(14px);

  .section-block-heading {
    margin: 3px 0px 6px 0px;

    font-style: italic;
  }
}
