<%= page_heading "Terms of Use & Privacy Policy" %>

<div class="not-full-width">
  <p>To create your account on OpenStax Tutor, please edit your profile and then review and accept our Terms of Use.</p>
  <p>We <i>strongly suggest</i> that you list an email address below so that OpenStax Tutor can notify you of important events such as the release of assignments.</p>
</div>