@import "application_layout";

#application-home-page-background-image {
  height: 544px;

  margin-left:    -$application_edge_distance;
  margin-right:   -$application_edge_distance;
  padding-bottom:  0px;

  background: image-url("student_full_home_haze.jpg");
}

#application-home-page-welcome-image {
  clear:        both;
  float:        right; 
  margin-right: $application_edge_distance;
  padding-top:  30px
}
