@import "common";

#application-body-nav {
  position: relative;

  $body_width: 700px;
  $nav_width:  $application_master_width - $body_width;

  #application-body-nav-body {
    float:   left;
    width: $body_width;
  }

  #application-body-nav-nav {
    float:   right;
    width: $nav_width;
  }
}