@import "common";

body { 
  background-color: $application_background_color;
  color:            $os_gray;
  margin-top:       0px;
}

body, p, ol, ul, td, a {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
}

#application-container {
  width: $application_master_width;

  margin: 0px auto;

  font-weight: normal;
  font-color:  black;
}

