$application_master_width: 960px;

$application_edge_distance: 54px;

$application_top_nav_height:          52px;
$application_top_nav_bottom_overhang: 10px;

$application_account_bar_height: 71px;

$application_footer_height: 77px;
