<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<% top_nav_dashboard_active %>

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed nisi vitae quam rutrum feugiat in non eros. Pellentesque congue adipiscing pretium. Ut eleifend tempus metus, non commodo lectus tincidunt non. Curabitur porta nulla sed nisl fermentum ultrices. Morbi lobortis viverra dolor, at condimentum lorem ullamcorper eu. Sed lectus justo, tempor eget hendrerit vel, mollis sit amet neque. Nunc in sollicitudin lacus. Vivamus lacinia tortor euismod lorem pretium a fringilla nulla vestibulum. Cras eleifend vehicula nunc et eleifend. In posuere lacinia lectus, ut laoreet erat condimentum eget. Aliquam erat volutpat. Suspendisse tempus eleifend congue. Nulla tempus feugiat condimentum. Morbi vel faucibus lectus.
</p>

<p>
  In dictum tincidunt semper. Aenean in dui viverra ante sollicitudin dapibus aliquet vitae lorem. Nam sed lacinia mi. Curabitur ut lacus enim. Proin egestas cursus tempor. Vestibulum quis bibendum dui. Praesent eu nisi ut mi dignissim convallis placerat sollicitudin urna. Praesent faucibus dui ut nisi lacinia fermentum vehicula nibh rhoncus. Nam viverra, urna in faucibus posuere, ante nisl consectetur neque, eleifend elementum purus urna ut lectus.
</p>

<p>
  Sed placerat turpis vel elit tempus gravida. Donec ac dui diam, sit amet sagittis felis. Nulla purus nibh, consectetur a hendrerit non, lobortis eget velit. Nam fringilla commodo dolor quis mattis. Nulla arcu felis, sagittis aliquet placerat eget, convallis nec urna. Suspendisse metus odio, porta ut egestas at, suscipit vel tellus. Curabitur vel cursus purus. In hac habitasse platea dictumst. Nulla aliquet est commodo risus tristique condimentum. Curabitur nec est est. Curabitur dapibus dignissim tellus, eu luctus nulla pulvinar id. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam vitae luctus arcu. Vivamus tincidunt, ipsum vitae bibendum molestie, velit nunc elementum nibh, nec dictum nulla lorem id sapien. Nam velit massa, facilisis vitae bibendum vel, pharetra vitae ligula. In pellentesque nisl eu velit posuere venenatis.
</p>
