<%# Copyright 2011-2013 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<% top_nav_dashboard_active %>

<p><%= Faker::Lorem.paragraph(1+rand(20)) %></p>
<p><%= Faker::Lorem.paragraph(1+rand(10)) %></p>
<p><%= Faker::Lorem.paragraph(1+rand(10)) %></p>
<p><%= Faker::Lorem.paragraph(1+rand(20)) %></p>
