<%# Copyright 2011-2013 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<div id="application-body">

  <% unless notice.nil? %>
    <p class="notice"><%= notice %></p>
  <% end %>

  <% unless alert.nil? %>
    <p class="alert"><%= alert %></p>
  <% end %>

  <%= yield :application_body %>
</div>

